body {
  font-family: Montserrat;
  font-weight: 500;
  color: #252B42;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 50px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
  .menu__link {
    font-size: 18px;
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  line-height: calc((24 / 14) * 100%);
  font-weight: 600;
}

.page {
  flex: 1 1 auto;
}

.page__main-block {
}
.main-block {
  position: relative;
}
.main-block__container {
}
._container {
}
.main_block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .main_block__body {
    padding: 120px 0px 191px 0px;
  }
}

.main_block__body > *:not(:last-child){
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  max-width: 509px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
    line-height: 50px;
  }
}

.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  max-width: 376px;
  color: #737373;
}
.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
}
.main-block__button {
  max-width: 187px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 36px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.main-block__button:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.main-block__button_orange {
  background-color: #FF7B47;
  color: #FFFFFF;
}
.main-block__button_green {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}
.footer {
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}